
.bot-fixed-bar {
    position: absolute;
    top: var( --bot-fixed-top);
    left: 0px;

    height: var(--the-fixed-bar-height);
    width: 100%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: var(--bg-gray);
}

.person, .chat, .serch, .more {
    color: var(--white);
}

.more {
    position: relative;
}
.fixed-dot {
    position: absolute;
    top: -10px;
    right: -10px;

    height: 10px;
    width: 10px;
    border-radius: 5px;

    background-color: rgba(255, 104, 104, 0.8);
}