
.profile--img {
    height: 55px;
    width: 55px;

    border-radius: 40%;

    margin: 15px 0px;
}

.channel-list-frame {
    display: flex;
    flex-direction: column;
}
.profile-frame {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile_main {
    display: flex;
    align-items: center;
}
.profile_nomain{
    display: flex;
    align-items: center;
}
.profile_side {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10px;
}
.profile_side_count{
    width: 25px;
    height: 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 15px;
    background-color: rgba(255, 104, 104, 0.8);

    margin-top: 5px;
}
.profile--text {
    height: 55px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    margin-left: 10px;
}

.--big-img-size {
    height: 65px;
    width: 65px;

    margin: 15px 0px;
}
.--small-img-size {
    height: 45px;
    width: 45px;  

    margin: 9px 0px;
}

.--none {
    opacity: 0;
}